.conteudo {
	-fx-background-color: black;
	-fx-font-family: Arial;
}

.numero {
	-fx-font-family: Arial;
	-fx-text-fill: #ffffff;
	-fx-font-size: 28px;
}

.contador {
	-fx-text-fill: #0080c0;
	-fx-font-family: Arial;
	-fx-font-size: 28px;
}

.mensagem {
	-fx-text-fill: #ffffff;
	-fx-font-family: Arial;
	-fx-font-size: 14px;
}

.botaoPositivo {
	-fx-background-color: #ffffff;
	-fx-text-fill: #008000;
	-fx-font-size: 24px;
	-fx-min-width: 60px;
	-fx-max-height: 60px;
	-fx-background-radius: 30px;
}

.botaoNegativo {
	-fx-background-color: #ffffff;
	-fx-text-fill: #ff0000;
	-fx-font-size: 24px;
	-fx-min-width: 60px;
	-fx-max-height: 60px;
	-fx-background-radius: 30px;
}

.verde {
	-fx-text-fill: #008040;
}

.vermelho {
	-fx-text-fill: #ff0000;
}